@import url("/public/general-sans.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}

.font-general-sans-medium {
  font-family: GeneralSans-Medium;
}

.font-general-sans-semibold {
  font-family: GeneralSans-Semibold;
}

.font-general-sans-regular {
  font-family: GeneralSans-Regular;
}

* {
  font-family: GeneralSans-Regular;
  background-color: #101010;
}

.special-text {
  background: #ffffff;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

@layer utilities {
  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
